.sidebar {
	font-family: 'Monoton', cursive;
	color:blue;
	background-image:
	width: 100%;
	max-width: 270px;
	float: right;
	border: 10px solid #ddd;
	margin-bottom: 20px;
}
.leader {
    font-size: 23px;
    font-color: yellow;
    
}
.table {
margin:2px 5px;
background-color: gray;
color:#ff0000;

}
