* {
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif !important;
}

body {
  /*background-color: #FB000F;*/
  background-color: #A10008;
}

button:active {
  outline: none ;
  border: none ;
}

.btn-info {
    color: #fff;
    background-color: #FB000F;
    border-color: #46b8da;
}

.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3;
}